h1 {
  text-align: center;
  text-shadow: 3px 3px 2px grey;
}

body {
  width: auto;
  height: auto;
  background-color: lightblue;
  padding-bottom: 50px;
  text-align: justify;
  font-size: 20px;
}

.img_format {
  margin-left: 10vw;
  width: 30vw;
}

div {
  background-color: white;
  border: 10px solid black;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 10px 5px 5px grey;
}

table {
  list-style-type: none;
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px grey;
  margin-left: 100px;
  margin-right: 100px;
  align-content: center;
}

th, td {
  padding: 5px 35px;
}

th {
  text-align: center;
}

.commentbox {
  padding: 10px 10px;
}
